= simple_form_for @assignment, remote: true do |f|
  = f.input :content_link
  = f.input :student_id, as: :select, collection: Student.all.map{ |l| [l.name, l.id, {:name => l.name.downcase}] }, include_blank: false
  = f.input :short_description

  = f.simple_fields_for :questions do |qf|
    = 'Question:'
    = qf.input :description

  %button.btn.btn-lg.btn-primary.btn-login.btn-block= 'Create'
