%h1= "Assignment"
%br
= 'Check the link and answer the questions below'
%br
%a{ :href => @assignment.content_link, :title => @assignment.short_description }= @assignment.short_description
%br
%br
%br
- @assignment.questions.each_with_index do | question, i |
  = "Question #{i+1}"
  %br
  .question{id: "question-#{question.id}"}
    %p= question.description

.page-header
  = render 'comments/form'
  .panel.panel-default#comments
    .panel-body
      %ul.media-list
        - @comments.each do | comment |
          = render 'comments/comment', comment: comment

    / :javascript
    /   window.client = new Faye.Client('/faye')
    /   var channel_name = "/questions/#{question.id}";
    /   // Subscribe to the public channel
    /   var public_subscription = client.subscribe(channel_name, function(data) {
    /     $("#question-#{question.id}").find('p').prepend(payload.message)
    /   });
    / - question.comments.each do | comment |
    /   .panel.panel-default
    /     %ul.media-list
    /       %li.media.comment
    /         - if comment.teacher
    /           %b= comment.teacher.name + " says:"
    /         - elsif comment.student
    /           %b= comment.student.name + " says:"
    /         = comment.body
    /   %br
    / .well
    /   = form_for @comment, remote: true do |f|
    /     .form-group
    /       = f.label :question_id, value: question.id
    /       = f.label :body, 'Enter your comment:'
    /       = f.text_area :body, rows: 3, class: 'form-control', required: true, maxlength: 2000
    /     = f.submit 'Post', class: 'btn btn-primary btn-lg'



