.well
  = simple_form_for @comment, remote: true do |f|
    .form-group
      = f.input :assignment_id, as: :hidden, :input_html => { :value => @assignment.id }
      - if @user.class == Student
        = f.input :student_id, as: :hidden, :input_html => { :value => @user.id }
      - else
        = f.input :teacher_id, as: :hidden, :input_html => { :value => @user.id }
      = f.input :body, rows: 3, class: 'form-control', required: true, maxlength: 2000
    = f.submit 'Answer', class: 'btn btn-primary btn-lg'
