%h1= @student.name + ' ( ' + @student.student_id + ' )'
.content
  %ul.list-group
    - @assignments.each do | assignment |
      %li.list-group-item
        = link_to assignment.short_description, assignment_path(id: @student.id, assignment_id: assignment.id, is_student: true)

