// You have to send html id of the form so we know where should we dispay errors.
// id of the form should be set on form and inside hidden field (double check html)
<%
  errors_by_entity = {}
  if defined? objects
    objects.each_with_index do |obj, index|
      key = obj.class.name.tableize.singularize
      puts key
      if defined?(custom_mapping) && custom_mapping[index]
        key = custom_mapping[index]
      end
      puts obj.errors
      errors_by_entity[key] = obj.errors
    end
  else
    errors_by_entity = {obj_type => @errors}
  end
%>

var formObj = window.last_submitted_form;
formObj.find("div.errors").remove(); // remove errors below input fields
formObj.find(".error").removeClass("error"); // remove class on input fields
<%
  if defined? add_class
    %>
      formObj.addClass("<%= add_class %>");
    <%
  end
%>

<%= raw(js) if defined? js %>

var errors_by_entity = <%= raw(errors_by_entity.to_json) %>;

var has_errors = false;

for (key in errors_by_entity) {
  //alert(JSON.stringify(errors_by_entity[key]));
  if (Object.keys(errors_by_entity[key]).length > 0) {
    has_errors = true;
    break;
  }
}

if(has_errors) {
  // form is submitted - remove all error marks on input fields
  formObj.removeClass("saved");

  for (var obj_type in errors_by_entity) {
    errors = errors_by_entity[obj_type];
    for (var key in errors){
      var key_splitted_array = key.split(".");
      var final_key = key_splitted_array[key_splitted_array.length - 1]
      var error = errors[key];

      var input = "";
      if(key_splitted_array.length == 2 && false) {
        input = formObj.find("#"+ obj_type + "_" +key_splitted_array[0]+"_attributes_"+key_splitted_array[1]);
      } else if(key_splitted_array.length > 2) {
        long_key_id = "#"+ key_splitted_array[0] + "_" +key_splitted_array[1]+"_attributes_"+key_splitted_array[2] + "_" + key_splitted_array[3];
        input = formObj.find(long_key_id);
      } else {
        input = formObj.find("[name='"+ obj_type + "[" + final_key +"]']");
        if (input.size() == 0) {
          input = formObj.find("[name='"+ obj_type + "[" + final_key +"_id]']"); // TODO: could we know if this is relation more easily?
        }
      }
      // var input = formObj.find("#"+ obj_type + "_" +key);

      var obj = input.closest(".form-group");

      obj.find(".form-control").addClass("error");

      if(obj.find(".errors").size() == 0) {
        obj.append("<div class='errors'></div>")
      }

      obj.find("div.errors").append("<div class='error'>"+error[0]+"</div>"); // we append only first error
    }
  }

  var l = 5;
  for( var i = 0; i < 10; i++ ) {
    $(formObj).find("div.errors").parent().animate( { 'margin-left': "+=" + ( l = -l ) + 'px', 'margin-right': ( -l ) + 'px', }, 50);
  }

  setTimeout(function() { $(formObj).find("div.errors").parent().attr("style", ""); }, 610)


  <% if defined? flash_message %>
     flash_message("danger", '<%= flash_message %>');
  <% end %>

  <%= raw(js_on_error) if defined? js_on_error %>
} else {
  formObj.addClass("saved");

  <%= raw(js_on_success) if defined? js_on_success %>


}

