%h1= @teacher.name + ' ( ' + @teacher.email + ' )'
= link_to 'Create new assignment', new_assignment_path, class: 'btn btn-default'
.content
  %ul.list-group
    - @assignments.each do | assignment |
      %li.list-group-item
        = link_to assignment.short_description, assignment_path(id: @teacher.id, assignment_id: assignment.id)



