%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

%meta{"http-equiv" => "X-UA-Compatible", "content" => "IE=edge"}
= raw '<link rel="icon" type="image/png" href="'+ image_path('favicon.png') +'" />'

= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
= javascript_include_tag "application", "data-turbolinks-track" => true

= csrf_meta_tags

- if protect_against_forgery?
  = javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';"

/[if lt IE 9]
  %script{ :src => "http://html5shiv.googlecode.com/svn/trunk/html5.js" }
  = javascript_include_tag "respond", "data-turbolinks-track" => false
