%nav.navbar
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path}
        = "Add Logo"
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li=link_to 'Teachers', teachers_path
        %li=link_to 'Students', students_path
